.title {
  text-align: center;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.output-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
/* 
.generate-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #007bff;
  border-color: #007bff;
}

.generate-button:hover {
  background-color: #0062cc;
  border-color: #005cbf;
}

.generate-button > *:first-child {
  color: white;
} */

.generate-button .book-icon {
  margin-right: 10px;
}

.generate-button .text {
  font-size: 1.2em;
  color: #fff;
}

.generate-button:hover .text {
  color: #f0f0f0;
}
