.title {
  color: #111; /* dark color */
  text-shadow: 1px 1px 0 #999, 2px 2px 0 #888, 3px 3px 0 #777, 4px 4px 0 #666; /* metallic shine effect */
  font-family: 'Lobster', cursive;
  font-weight: bold;
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  color: #1a1a1a;
  font-size: 80px;
  opacity: 0.9;
}

.title-container {
  display: inline;
  height: 100%;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.output-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.generate-button .book-icon {
  margin-right: 10px;
}

.generate-button .text {
  font-size: 1.2em;
  color: #fff;
}

.generate-button:hover .text {
  color: #f0f0f0;
}
.notebook {
  font-family: Comic Sans MS
}

.container {
  display: grid;

  grid-template-columns: 1fr 3fr 1fr; /* set column sizes */
  height: 700px; /* set height to 100% */
}

.left-column {
  margin-left: -50%;
  background-color: lightgray;
  height: 100%;
}

.middle-column {
  background-color: #F9F9F9; /* set off-white background color */
  padding: 20px; /* add padding */

}

.right-column {
  background-color: lightgray; /* set background color */
  margin-right: -40%;
}

.comment-bubble {
  background-color: #FFFFE0;
  border: 3px solid #000;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  max-width: 700px;
}

.comment-bubble p {
  margin: 0;
  font-family: cursive;
  font-weight: 900;
  font-size: 36px;
}
